body {
    /*background-color: #F6F6F6;*/
    color: #050835;
}

.bg--custom {
    background-color: #050835;
}

.text--custom {
    color: #F6F6F6;
}

.navbar .nav-item .nav-link {
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.navbar .nav-item:hover .nav-link {
    background-color: #EAEFF3;
    color: #050835;
    border-radius: 15px;
}

.bg-img {
    background-image: url(../img/gift-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    height: 40vh;
    background-color: #d50900;
    margin: 0 auto 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}

.text-box {
    padding: 55px;
}

.text {
    font-size: 24px;
    font-weight: 700;
    color: #D4AF37;
}

.card--hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card--hover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.button {
    text-transform: uppercase;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

.content--center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    width: 100%;
}

